body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 29, 37);
  overflow-x: hidden;
}
.container {
  padding: 10px;
  margin-top: 20px;
  background: white;
  width: 80vw;
  min-height: 100%;
  form {
    display: flex;
    flex-direction: column;
    .inputs {
      margin-bottom: 10px;
      display: flex;
      gap: 6px;
      align-items: center;
      input {
        width: 300px;
        height: 20px;
        font-size: 16px;
        background: transparent;
        border: none;
        border-bottom: solid 1px turquoise;
        outline: none;
        padding: 5px;
        &:disabled {
          color: black;
          font-weight: bold;
        }
      }
      textarea {
        padding: 8px;
        resize: vertical;
        flex: 1;
      }
    }
    button {
      font: 600 24px black;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      background: rgb(19, 72, 245);
    }
  }
  .message {
    height: 500px;
  }
  .container-chat {
    .user {
      margin-right: 10px;
      background: rgb(200, 255, 204);
    }

    .otherUser {
      background: #ccc;
      margin-right: 10px;
    }
  }
  .container-message {
    max-width: 70%;
    border-radius: 8px;
    padding: 1px 15px;
  }
}
